flows.json.txt
[
    {
        "id": "a3bc4770.d18198",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fefaf4ec.a42078",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c1d6d98.aff362",
        "type": "ui_tab",
        "z": "",
        "name": "IBM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "31ef7637.e71d3a",
        "type": "ui_group",
        "z": "",
        "name": "Form",
        "tab": "2c1d6d98.aff362",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a12de9b.36f102",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b1b11140.4e4ef",
        "type": "inject",
        "z": "a3bc4770.d18198",
        "name": "",
        "topic": "",
        "payload": "Hello Node-RED!",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 141,
        "y": 61,
        "wires": [
            [
                "f2f2649a.0d0d98"
            ]
        ]
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "a3bc4770.d18198",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 401,
        "y": 87,
        "wires": []
    },
    {
        "id": "8913ea64.66afc8",
        "type": "inject",
        "z": "fefaf4ec.a42078",
        "name": "",
        "topic": "",
        "payload": "Ritul Sharma",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "90d29ee2.0ac6f"
            ]
        ]
    },
    {
        "id": "3cf5aa1a.fa6616",
        "type": "debug",
        "z": "fefaf4ec.a42078",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "90d29ee2.0ac6f",
        "type": "function",
        "z": "fefaf4ec.a42078",
        "name": "",
        "func": "msg.payload = \"This is \"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "3cf5aa1a.fa6616"
            ]
        ]
    },
    {
        "id": "fd67fd99.ab5a7",
        "type": "ui_form",
        "z": "fefaf4ec.a42078",
        "name": "",
        "label": "",
        "group": "31ef7637.e71d3a",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Enter your email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Enter your phone number",
                "value": "phn",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "email": "",
            "phn": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "reset",
        "topic": "",
        "x": 395,
        "y": 190,
        "wires": [
            [
                "cb270251.3f24a"
            ]
        ],
        "l": false
    },
    {
        "id": "cb270251.3f24a",
        "type": "function",
        "z": "fefaf4ec.a42078",
        "name": "",
        "func": "msg.payload = \"Thankyou\"+msg.payload.name+  \"For Submitting the form\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360.66668701171875,
        "y": 337.3333435058594,
        "wires": [
            [
                "dc3478b6.d3a9a8",
                "6b8b1359.5b73dc"
            ]
        ],
        "l": false
    },
    {
        "id": "dc3478b6.d3a9a8",
        "type": "debug",
        "z": "fefaf4ec.a42078",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 556.6666870117188,
        "y": 193,
        "wires": [],
        "l": false
    },
    {
        "id": "6b8b1359.5b73dc",
        "type": "ui_text",
        "z": "fefaf4ec.a42078",
        "group": "31ef7637.e71d3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 607.6666870117188,
        "y": 283,
        "wires": [],
        "l": false
    },
    {
        "id": "80d4a6fa.460ea8",
        "type": "ui_template",
        "z": "fefaf4ec.a42078",
        "group": "31ef7637.e71d3a",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<html>\n    <body>\n        <h1>\n            Punit Sakre \n        </h1>\n    </body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 660,
        "y": 67,
        "wires": [
            []
        ],
        "l": false
    }
]
